{% extends 'base.html' %}
{% block body %}
{% load static %}

<!-- Ensure Bootstrap CSS is linked -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<!-- Page Content -->
<div class="container mt-4">
    <h1 class="display-4">About Us</h1>
    <p class="lead">We are a team of dedicated individuals committed to providing the best service. Our mission is to deliver high-quality solutions that exceed our clients' expectations and make a positive impact.</p>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-7oi7UaaO70ka3q4+MAM5Fs7/8IM0hAD5Ml5Z1j6uWqk/t22ggAxT+V5Q8kT5JKd9" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4Ag1yU0Jt7rZG0xUo7dc64O8e7A/9B+0+K71O3xG15FQQdQWxvH2" crossorigin="anonymous"></script>

{% endblock body %}
